<header class="navbar-main">
    <nav class="nav-content">

        <div class="logo-section">
            <img src="../../Assets/Icons/icons8-sailing-boat-80.png" alt="sail-boat logo">
            <h2>cat-boat</h2>
        </div>

        <ul class="nav-tags">
            <li><a href="/" class="nav-item">Home</a> </li>
            <li><a href="#" class="nav-item">About</a></li>
            <li><a href="/gallery" class="nav-item">Gallery</a></li>
            <li><a href="#" class="nav-item">Map</a></li>
            <li><a href="#" class="nav-item">Contact</a></li>
        </ul>
    </nav>
</header>